@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

html {
    scroll-behavior: smooth;
}

.click {
    cursor: pointer;
    transition: all 300ms ease;
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

li {
    list-style: none;
}

body {
    overflow-x: hidden;
}

#landing-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

ul {
    list-style: none;
}

section {
    transition: all 300ms ease;
}

button {
    cursor: pointer;
}

.container {
    padding: 50px 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

.link__hover--effect {
    position: relative;
}

.link__hover--effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: red;
    transition: all 300ms ease;
}

.link__hover--effect:hover:after {
    left: 0;
    width: 100%;
}

.red {
    color: red;
}

/* NAV BAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
}

.nav__logo {
    height: 100px;
    width: 200px;
}
.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

/* LANDING PAGE */

.landing__container {
    width: 100%;
    padding: 100px 80px;
    height: calc(100% + 80px);
    top: -80px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movieflix__title {
    margin-top: 180px;
    font-size: 100px;
    height: min-content;
    display: flex;
    justify-content: start;
    align-items: center;
    text-shadow: 3px 3px 3px black;
}

.movieflix__description {
    font-size: 26px;
    max-width: 600px;
    margin-top: 40px;
    color: black;
  }

  .movieflix__input {
    background-color: black;
    height: 50px;
    width: 100%;
    margin-right: 20px;
    outline: none;
    border: 2px solid #f8f8f8;
    padding: 10px 20px;
    font-size: 20px;
    color: #f8f8f8;
  }

  .movieflix__input::placeholder{
    color: #f8f8f8;
  }

  .movieflix__search {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    max-width: 580px;
    width: 100%;
    padding: 10px;
  }

  .search {
    margin-right: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms all ease;
    
    }

  .submit__button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
  }